.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header .navigation .logo {
  width: 200px;
  height: 19.7px;
}
.header .navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .navigation .nav .nav__item {
  list-style-type: none;
  margin: 10px 18px;
}
.header .navigation .hamburger {
  display: none;
}
.header .banking__container {
  margin: 100px;
}
.header .banking__container .digital__banking .banking__title {
  width: 400px;
  color: #2D314D;
  font-size: 46px;
}
.header .banking__container .digital__banking .banking__description {
  font-size: 18px;
  width: 447px;
  margin: 20px 5px;
  color: #9597A5;
}
.header .banking__container .image__container {
  position: relative;
  height: 800px;
  overflow: hidden;
  top: -22em;
  right: -90px;
}
.header .banking__container .image__container .image__mockups {
  top: -6em;
  left: 42em;
  position: absolute;
  width: 46%;
}
.header .banking__container .image__container .bg__intro {
  width: 82%;
  position: absolute;
  right: -185px;
  top: -166px;
  z-index: -2;
}
.header .invite__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#33D35E), to(#2AB6D9));
  background: linear-gradient(#33D35E, #2AB6D9);
  padding: 12px 30px;
  border-radius: 20px;
  color: #ffffff;
}

@media only screen and (max-width: 375px) {
  .header .navigation {
    width: 100vh;
  }
  .header .navigation .nav, .header .navigation .invite__btn {
    display: none;
  }
  .header .navigation .nav.show {
    display: block;
    position: absolute;
    top: 75px;
    background: #ffffff;
    width: 142%;
    text-align: center;
  }
  .header .navigation .nav__item {
    font-size: 26px;
  }
  .header .navigation .hamburger {
    display: block;
    border: 0;
    background: transparent;
  }
  .header .banking__container {
    margin: 50px;
  }
  .header .banking__container .digital__banking {
    margin-top: 35em;
  }
  .header .banking__container .digital__banking .banking__title {
    text-align: center;
  }
  .header .banking__container .digital__banking .banking__description {
    font-size: 24px;
    width: 455px;
    text-align: center;
  }
  .header .banking__container .digital__banking .invite__btn {
    width: 260px;
    margin: 20px 100px;
    font-size: 24px;
  }
  .header .banking__container .image__container {
    position: absolute;
    left: 0;
    top: 93px;
    width: 34em;
    z-index: -1;
    overflow: hidden;
  }
  .header .banking__container .image__container .image__mockups {
    top: -179px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
  .header .banking__container .image__container .bg__intro {
    width: 51em;
    position: absolute;
    right: -169px;
    top: -211px;
    z-index: -2;
  }
}/*# sourceMappingURL=header.css.map */