.header {
  height: 100vh;
}
.header .navigation {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header .navigation .logo {
  width: 200px;
  height: 19.7px;
}
.header .navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .navigation .nav .nav__item {
  list-style-type: none;
  margin: 10px 18px;
}
.header .navigation .hamburger {
  display: none;
}
.header .banking__container {
  margin: 100px;
}
.header .banking__container .digital__banking .banking__title {
  width: 400px;
  color: #2D314D;
  font-size: 46px;
}
.header .banking__container .digital__banking .banking__description {
  font-size: 18px;
  width: 447px;
  margin: 20px 5px;
  color: #9597A5;
}
.header .banking__container .image__container {
  position: relative;
  height: 800px;
  overflow: hidden;
  top: -22em;
  right: -90px;
}
.header .banking__container .image__container .image__mockups {
  top: -6em;
  left: 42em;
  position: absolute;
  width: 46%;
}
.header .banking__container .image__container .bg__intro {
  width: 82%;
  position: absolute;
  right: -185px;
  top: -166px;
  z-index: -2;
}
.header .invite__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#33D35E), to(#2AB6D9));
  background: linear-gradient(#33D35E, #2AB6D9);
  padding: 12px 30px;
  border-radius: 20px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .header .navigation {
    min-width: 508px;
  }
  .header .navigation .nav, .header .navigation .invite__btn {
    display: none;
  }
  .header .navigation .logo {
    min-width: 60%;
    min-height: 43%;
    margin-left: 60%;
  }
  .header .navigation .nav.show {
    display: block;
    position: absolute;
    top: 75px;
    left: 10%;
    background: #ffffff;
    min-width: 45em;
    text-align: center;
  }
  .header .navigation .nav__item {
    font-size: 35px;
  }
  .header .navigation .hamburger {
    display: block;
    border: 0;
    background: transparent;
    min-width: inherit;
  }
  .header .navigation .hamburger img {
    min-width: 60px;
    margin-left: 15%;
  }
  .header .banking__container {
    margin: 50px;
  }
  .header .banking__container .digital__banking {
    margin-top: 45em;
    margin-left: 5em;
  }
  .header .banking__container .digital__banking .banking__title {
    text-align: center;
    width: 480px;
    color: #2D314D;
    font-size: 60px;
  }
  .header .banking__container .digital__banking .banking__description {
    font-size: 36px;
    width: 13em;
    text-align: center;
  }
  .header .banking__container .digital__banking .invite__btn {
    width: 15em;
    margin: 20px auto;
    font-size: 35px;
  }
  .header .banking__container .image__container {
    position: absolute;
    left: 0px;
    top: 118px;
    min-width: 50em;
    z-index: -1;
    overflow: hidden;
  }
  .header .banking__container .image__container .image__mockups {
    top: -125px;
    left: 22px;
    position: absolute;
    width: 40em;
  }
  .header .banking__container .image__container .bg__intro {
    width: 80em;
    position: absolute;
    right: -264px;
    top: -403px;
    z-index: -2;
  }
}/*# sourceMappingURL=header.css.map */