* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    width: 100vw;
    height: 10vw;
    overflow-x: hidden;
}

.invite__btn {
    background: linear-gradient(#33D35E, #2AB6D9);
    padding: 12px 30px;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
}

@import './header.scss';
@import './main.scss';
@import './footer.scss';