@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #FAFAFA;
$white-color: #FFFFFF;
$grey-color: #9597A5;
$dark-blue:  #2D314D;
$font-public-sans: 'Public Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white-color;
    width: 100vw;
    height: 10vw;
    overflow-x: hidden;
}

.invite__btn {
    background: linear-gradient(#33D35E, #2AB6D9);
    padding: 12px 30px;
    border-radius: 20px;
    color: #ffffff;
}

@import './header.scss';
@import './main.scss';
@import './footer.scss';