@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  width: 100vw;
  height: 10vw;
  overflow-x: hidden;
}

.invite__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#33D35E), to(#2AB6D9));
  background: linear-gradient(#33D35E, #2AB6D9);
  padding: 12px 30px;
  border-radius: 20px;
  color: #ffffff;
}

.header {
  height: 100vh;
}
.header .navigation {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header .navigation .logo {
  width: 200px;
  height: 19.7px;
}
.header .navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .navigation .nav .nav__item {
  list-style-type: none;
  margin: 10px 18px;
}
.header .navigation .hamburger {
  display: none;
}
.header .banking__container {
  margin: 100px;
}
.header .banking__container .digital__banking .banking__title {
  width: 400px;
  color: #2D314D;
  font-size: 46px;
}
.header .banking__container .digital__banking .banking__description {
  font-size: 18px;
  width: 447px;
  margin: 20px 5px;
  color: #9597A5;
}
.header .banking__container .image__container {
  position: relative;
  height: 800px;
  overflow: hidden;
  top: -22em;
  right: -90px;
}
.header .banking__container .image__container .image__mockups {
  top: -6em;
  left: 42em;
  position: absolute;
  width: 46%;
}
.header .banking__container .image__container .bg__intro {
  width: 82%;
  position: absolute;
  right: -185px;
  top: -166px;
  z-index: -2;
}

@media (max-width: 600px) {
  .header .navigation {
    min-width: 508px;
  }
  .header .navigation .nav, .header .navigation .invite__btn {
    display: none;
  }
  .header .navigation .logo {
    min-width: 60%;
    min-height: 43%;
    margin-left: 60%;
  }
  .header .navigation .nav.show {
    display: block;
    position: absolute;
    top: 75px;
    left: 10%;
    background: #ffffff;
    min-width: 45em;
    text-align: center;
  }
  .header .navigation .nav__item {
    font-size: 35px;
  }
  .header .navigation .hamburger {
    display: block;
    border: 0;
    background: transparent;
    min-width: inherit;
  }
  .header .navigation .hamburger img {
    min-width: 60px;
    margin-left: 15%;
  }
  .header .banking__container {
    margin: 50px;
  }
  .header .banking__container .digital__banking {
    margin-top: 45em;
    margin-left: 5em;
  }
  .header .banking__container .digital__banking .banking__title {
    text-align: center;
    width: 480px;
    color: #2D314D;
    font-size: 60px;
  }
  .header .banking__container .digital__banking .banking__description {
    font-size: 36px;
    width: 13em;
    text-align: center;
  }
  .header .banking__container .digital__banking .invite__btn {
    width: 15em;
    margin: 20px auto;
    font-size: 35px;
  }
  .header .banking__container .image__container {
    position: absolute;
    left: 0px;
    top: 118px;
    min-width: 50em;
    z-index: -1;
    overflow: hidden;
  }
  .header .banking__container .image__container .image__mockups {
    top: -125px;
    left: 22px;
    position: absolute;
    width: 40em;
  }
  .header .banking__container .image__container .bg__intro {
    width: 80em;
    position: absolute;
    right: -264px;
    top: -403px;
    z-index: -2;
  }
}
.main__wrapper .easybank__container {
  background: #F4F5F7;
  height: 75vh;
  margin-top: -12em;
}
.main__wrapper .easybank__container .easybank {
  margin: 90px;
}
.main__wrapper .easybank__container .easybank .easybank__title {
  color: #2D314D;
  position: relative;
  top: 50px;
  font-size: 28px;
}
.main__wrapper .easybank__container .easybank .easybank__description {
  position: relative;
  top: 58px;
  max-width: 66%;
  font-size: 24px;
  color: #9597A5;
}
.main__wrapper .easybank__container .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 78em;
  margin: auto;
}
.main__wrapper .easybank__container .services .service {
  margin: 40px 30px;
}
.main__wrapper .easybank__container .services .service .service__title {
  position: relative;
  top: 13px;
  width: 10em;
}
.main__wrapper .easybank__container .services .service .service__description {
  position: relative;
  top: 28px;
  max-width: 20em;
}
.main__wrapper .latest__articles {
  background: #FAFAFA;
  margin-top: -31px;
}
.main__wrapper .latest__articles .latest__article {
  margin: 30px 120px;
  font-size: 26px;
  font-family: "Public Sans", sans-serif;
}
.main__wrapper .latest__articles .article__title {
  max-width: 10em;
  margin: 15px;
  font-size: 21px;
  color: #2D314D;
}
.main__wrapper .latest__articles .article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 50px auto;
}
.main__wrapper .latest__articles .article__container .article {
  margin: 15px;
  background: #FFFFFF;
}
.main__wrapper .latest__articles .article__container .article .article__image {
  width: 255px;
  height: 200px;
}
.main__wrapper .latest__articles .article__container .article .article__author {
  color: #9597A5;
  font-size: 10px;
  margin: 5px 15px;
}
.main__wrapper .latest__articles .article__container .article .article__description {
  max-width: 225px;
  color: #9597A5;
  margin: 2px 15px;
}

@media (max-width: 600px) {
  .main__wrapper .easybank__container {
    margin-top: 55em;
    width: 50em;
    height: 160em;
  }
  .main__wrapper .easybank__container .easybank .easybank__title {
    font-size: 43px;
    text-align: center;
  }
  .main__wrapper .easybank__container .easybank .easybank__description {
    font-size: 37px;
    min-width: 18em;
  }
  .main__wrapper .easybank__container .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10em;
  }
  .main__wrapper .easybank__container .services .service {
    margin: 40px auto;
    width: 450px;
  }
  .main__wrapper .easybank__container .services .service .service__image {
    width: 9em;
    position: relative;
    left: 10em;
  }
  .main__wrapper .easybank__container .services .service .service__title {
    font-size: 38px;
    width: 13em;
    text-align: center;
  }
  .main__wrapper .easybank__container .services .service .service__description {
    font-size: 35px;
    text-align: center;
    min-width: 14em;
    margin: 25px auto;
  }
  .main__wrapper .latest__articles {
    text-align: center;
    margin: auto;
    width: 50.7em;
    background: #FFFFFF;
  }
  .main__wrapper .latest__articles .latest__article {
    font-size: 52px;
  }
  .main__wrapper .latest__articles .article__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__wrapper .latest__articles .article__container .article {
    margin: 35px 15px;
  }
  .main__wrapper .latest__articles .article__container .article .article__image {
    width: 41em;
    height: 20em;
  }
  .main__wrapper .latest__articles .article__container .article .article__author {
    font-size: 32px;
  }
  .main__wrapper .latest__articles .article__container .article .article__title {
    font-size: 44px;
    max-width: 14em;
  }
  .main__wrapper .latest__articles .article__container .article .article__description {
    font-size: 44px;
    max-width: 15em;
  }
}
.footer__wrapper {
  background-color: #2D314D;
  height: 191px;
}
.footer__wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  position: relative;
  top: 50px;
}
.footer__wrapper .container .media__container {
  margin-right: 30px;
  margin-left: -70px;
}
.footer__wrapper .container .media__container .logo__container img {
  background: white;
}
.footer__wrapper .container .social__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__wrapper .container .social__networks .wrapper__network {
  margin: 12px;
}
.footer__wrapper .container .navigation__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__wrapper .container .navigation__container ul div {
  margin: 20px;
}
.footer__wrapper .container .navigation__container ul div li {
  min-width: 6em;
  color: white;
  list-style: none;
}
.footer__wrapper .container .easybank__fother {
  position: relative;
  right: -20em;
}
.footer__wrapper .container .easybank__fother p {
  color: white;
}

@media (max-width: 600px) {
  .footer__wrapper {
    width: 50.6em;
    height: 44em;
    overflow-x: hidden;
  }
  .footer__wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrapper .container .media__container {
    margin-left: 165px;
  }
  .footer__wrapper .container .media__container .logo__container img {
    width: 17em;
    height: 3em;
  }
  .footer__wrapper .container .media__container .social__networks .wrapper__network img {
    min-width: 39px;
  }
  .footer__wrapper .container .navigation__container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 200px;
  }
  .footer__wrapper .container .navigation__container ul li {
    font-size: 42px;
    margin-bottom: 12px;
  }
  .footer__wrapper .container .easybank__fother {
    right: -11em;
  }
  .footer__wrapper .container .easybank__fother button {
    font-size: 32px;
  }
  .footer__wrapper .container .easybank__fother p {
    font-size: 38px;
    margin-left: -90px;
    margin-top: 22px;
  }
}/*# sourceMappingURL=style.css.map */